language: ruby
sudo: false
cache: bundler
rvm:
- 1.9.3
services:
- mysql
- redis
before_script:
- mysql -u root -e "create database signonotron2_test;"
- mysql -u root -e "GRANT ALL PRIVILEGES ON signonotron2_test.* TO signonotron2@localhost
  IDENTIFIED BY 'signonotron2';"
- bundle exec rake db:migrate